[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "accept"]
	path = accept
	url = https://github.com/resplab/accept
[submodule "predtools"]
	path = predtools
	url = https://github.com/resplab/predtools
